.gfield_label {
  @extend %sr-only;
}

.gform_wrapper .top_label input.medium {
  background: #fff;
  border: 0;
  font-size: 14px !important;
  padding: 17px 10px 15px !important;
  width: 100% !important;

  @include placeholder {
    text-transform: uppercase;
  }
}

.gform_wrapper .gform_footer {
  clear: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.gform_wrapper .gform_footer input.button {
  @extend %button;
  @extend .btn--pink;
  border: 0;
  width: 100%;

  @include media(">=laptop") {
    width: 48%;
  }
}

.gform_wrapper ul li.gfield {
  margin-bottom: 10px;
  margin-top: 0 !important;

  @include media(">=laptop") {
    clear: none !important;
    float: left;
    margin-right: $gutter;
    width: 48%;
  }
}

.gform_wrapper ul li.gfield:nth-child(2n) {
  margin-right: 0;
}

.gfield_select {
  @extend %button;
  appearance:none;
  background: $grey;
  border: 0;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  height: 37px;
  padding-top: 12px;
  padding: 5px 0 2px 10px !important;
  position: relative;
  width: 100% !important;
}

.ginput_container_select {
  position: relative;
}

.ginput_container_select::after {
  color: #fff;
  content: '\00bb';
  display: block;
  font-size: 18px;
  position: absolute;
  right: 11px;
  top: 6px;
  transform: rotate(90deg);
}

body .gform_wrapper label.gfield_label+div.ginput_container {
  margin-top: 0 !important;
}

.input--textarea {
  margin: 0;
  margin-right: 0 !important;
  width: 100% !important;
}

.gform_wrapper .input--textarea textarea.medium {
  border: 0;
  font-size: 14px;
  height: 110px !important;
  padding: 17px 10px 15px;
  width: 100%;

  @include placeholder {
    text-transform: uppercase;
  }
}

.gform_wrapper ul.gform_fields li.gfield {
  padding-right: 0 !important;
}
