.container {
  <% if (installNeat) { %>
  // @include outer-container;
  <% } %>
}

.alignleft {display:inline;float:left;}
.alignright {display:inline;float:right;}

.italicise {
  font-style: italic;
}
<% if (installNeat) { %>
.omega {
  @include omega();
}
<% } %>

.sr-only {
  @extend %sr-only;
}

.button {
  @include button;
}

ul.nostyle {
  li {
    list-style: none;
    margin-left: 0;
  }
}