<% if (installBourbon) { %>
@import 'bourbon/bourbon';
<% } %>
@import 'reset';
<% if (installNeat) { %>
@import 'grid-settings';
@import 'neat/neat';
<% } %>

// @import 'fa/font-awesome';
@import 'utilities';
@import 'include-media';
@import 'burger';
@import 'variables';
@import 'modules';
@import 'nav';

body {
  color: $black;
}

a {
  color:$primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}